*{
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}

header nav ul li {
  /* text-align: center; */
  background-color: indigo;
  border: .5px solid rgb(43, 0, 73);
  color: black;
  float:left;
  padding-top: 30px;
  /* margin-bottom: 30px; */
  width: 215px;
  height: 39px;
}

#centerdiv{ 
  text-align: center;
  max-width: 1100px;
  margin: auto;
}

main img {
  padding-left:20px;
  /* padding-top:30px; */
  
}

.ph1{
  height: 30px;
  /* border: solid 1px green; */
  clear: left; 
}

main ul li {
  float:left;
  margin-left: 40px;
}

.ph2{
  clear: left; 
  /* This clear property moved down from next to the li's. */
  height: 30px;
  /* border: solid 1px green; */
}

.column1of2, .column2of2{
  width: 530px;
  float: left;
  text-align: left;
  padding-left: 15px;
  /* text-align: center; */
  /* margin: 10px; */

}

section h2{
  margin-bottom: 20px;
}

.footer{
  background-color: indigo;
  clear: top;
  height:150px

}